### Import data after SQL-cleaning

# Lab Case Study <a class="anchor" id="00"></a>

### Scenario

You are working as an analyst for an auto insurance company. The company has collected some data about its customers including their demographics, education, employment, policy details, vehicle information on which insurance policy is, and claim amounts. You will help the senior management with some business questions that will help them to better understand their customers, improve their services, and improve profitability.

### Business Objectives

- Retain customers,
- analyze relevant customer data,
- develop focused customer retention programs.

Based on the analysis, take targeted actions to increase profitable customer response, retention, and growth.

### Activities

Refer to the `Activities.md` file where you will find guidelines for some of the activities that you want to do.

### Data

The csv files is provided in the folder. The columns in the file are self-explanatory.

----

In [3]:
import pandas as pd
import getpass
import sqlalchemy as sa

# Importing SQL- cleaned data into pandas

In [5]:

driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:'"")
ip = '127.0.0.1'

connection_string = f'{driver}://{user}:{password}@{ip}'
    
db_connection = sa.create_engine(connection_string)

insp = sa.inspect(db_connection)
db_list = insp.get_schema_names()
#print(db_list)


query = "SELECT * FROM cs_study.cs_study"
cs_study = pd.read_sql_query(query, db_connection)
cs_study.head(2)

Your password:········

,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,location_code,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,,2108,,Basic,Bachelor,1/2/11,Unemployed,M,0,Suburban,...,0,1,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,nan
1,,2143,,Basic,Bachelor,1/23/11,Unemployed,M,0,Suburban,...,0,1,Corporate Auto,Corporate L1,Offer4,Web,686.774939,Two-Door Car,Medsize,nan