# Lab | SQL Subqueries

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals. Create appropriate joins wherever necessary. 


1. How many copies of the film _Hunchback Impossible_ exist in the inventory system?
2. List all films whose length is longer than the average of all the films.
3. Use subqueries to display all actors who appear in the film _Alone Trip_.
4. Sales have been lagging among young families, and you wish to target all family movies for a promotion. Identify all movies categorized as family films.
5. Get name and email from customers from Canada using subqueries. Do the same with joins. Note that to create a join, you will have to identify the correct tables with their primary keys and foreign keys, that will help you get the relevant information.
6. Which are films starred by the most prolific actor? Most prolific actor is defined as the actor that has acted in the most number of films. First you will have to find the most prolific actor and then use that actor_id to find the different films that he/she starred.
7. Films rented by most profitable customer. You can use the customer table and payment table to find the most profitable customer ie the customer that has made the largest sum of payments
8. Customers who spent more than the average payments.

1. How many copies of the film _Hunchback Impossible_ exist in the inventory system?

In [ ]:
'''
select
	count(inventory.inventory_id),
    film.title
from 
	inventory
inner join
	film
on
	film.film_id = inventory.film_id
where film.title = "Hunchback Impossible"
group by
	film.title
    
Output:
# count(inventory.inventory_id), title
'6', 'HUNCHBACK IMPOSSIBLE'

'''

2. List all films whose length is longer than the average of all the films.

In [ ]:
'''
select title, length from film
where length > (select avg(length) from film)

Output:
# title, length
'AFFAIR PREJUDICE', '117'
'AFRICAN EGG', '130'
'AGENT TRUMAN', '169'
'ALAMO VIDEOTAPE', '126'
'ALASKA PHANTOM', '136'
'ALI FOREVER', '150'
...
'''

3. Use subqueries to display all actors who appear in the film _Alone Trip_.

In [ ]:
'''
select first_name, last_name from actor
where actor_id in 
	(select actor_id from film_actor
		 where film_id = (select film_id from film where title = "Alone Trip"))
         
Output:
# first_name, last_name
'ED', 'CHASE'
'KARL', 'BERRY'
'UMA', 'WOOD'
'WOODY', 'JOLIE'
'SPENCER', 'DEPP'
'CHRIS', 'DEPP'
'LAURENCE', 'BULLOCK'
'RENEE', 'BALL'

'''

4. Sales have been lagging among young families, and you wish to target all family movies for a promotion. Identify all movies categorized as family films.

In [ ]:
'''
select title from film
	where film_id in (select film_id from film_category 
		where category_id in (select category_id from category where name = "Family" ))
        
# title
'AFRICAN EGG'
'APACHE DIVINE'
'ATLANTIS CAUSE'
'BAKED CLEOPATRA'
'BANG KWAI'
'BEDAZZLED MARRIED'
'BILKO ANONYMOUS'
'BLANKET BEVERLY'
'BLOOD ARGONAUTS'
'BLUES INSTINCT'
...


'''

5. Get name and email from customers from Canada using subqueries. Do the same with joins. Note that to create a join, you will have to identify the correct tables with their primary keys and foreign keys, that will help you get the relevant information.

In [ ]:
'''
subqueries:
select first_name, last_name, email from customer
	where address_id in (select address_id from address
		where city_id in (select city_id from city 
			where country_id in
				(select country_id from country where country = "Canada")))
            
Join:
select customer.first_name, customer.last_name, customer.email from customer
	inner join address
	on customer.address_id = address.address_id 
		inner join city
		on address.city_id =city.city_id 
			inner join country
				on city.country_id = country.country_id
where country = "Canada"

Output (both)
# first_name, last_name, email
'DERRICK', 'BOURQUE', 'DERRICK.BOURQUE@sakilacustomer.org'
'DARRELL', 'POWER', 'DARRELL.POWER@sakilacustomer.org'
'LORETTA', 'CARPENTER', 'LORETTA.CARPENTER@sakilacustomer.org'
'CURTIS', 'IRBY', 'CURTIS.IRBY@sakilacustomer.org'
'TROY', 'QUIGLEY', 'TROY.QUIGLEY@sakilacustomer.org'
'''

6. Which are films starred by the most prolific actor? Most prolific actor is defined as the actor that has acted in the most number of films. First you will have to find the most prolific actor and then use that actor_id to find the different films that he/she starred.

In [ ]:
'''
select title from film
	where film_id in (
		select film_id from film_actor 
			where actor_id =
				(select actor_id from film_actor group by actor_id order by count(film_id) desc limit 1))
Output:
# title
'BED HIGHBALL'
'CALENDAR GUNFIGHT'
'CHAMBER ITALIAN'
'CHAPLIN LICENSE'
'CHARIOTS CONSPIRACY'
'CLUELESS BUCKET'
'COLDBLOODED DARLING'
'CONEHEADS SMOOCHY'
'DARKNESS WAR'
'DEER VIRGINIAN'
'DOGMA FAMILY'
'ELEPHANT TROJAN'
....
'''

7. Films rented by most profitable customer. You can use the customer table and payment table to find the most profitable customer ie the customer that has made the largest sum of payments

In [ ]:
'''
select title from film where film_id in (
select film_id from inventory where store_id in (
select store_id from store where store_id in (
select store_id from customer where customer_id = (
select customer_id from payment group by customer_id order by count(amount) desc limit 1))))

Output:
# title
'ACADEMY DINOSAUR'
'AFFAIR PREJUDICE'
'AGENT TRUMAN'
'AIRPLANE SIERRA'
'ALABAMA DEVIL'
'ALADDIN CALENDAR'
'ALAMO VIDEOTAPE'
'ALASKA PHANTOM'
'ALIEN CENTER'
'ALLEY EVOLUTION'
'ALONE TRIP'
...

'''

8. Customers who spent more than the average payments.

In [ ]:
'''select distinct customer_id, avg(amount) from payment where
amount > (select avg(amount) from payment)
group by customer_id

Output:
# customer_id, avg(amount)
'1', '5.847143'
'2', '6.166471'
'3', '6.802500'
'4', '6.115000'
'5', '6.056667'

...
'''