# Lab | SQL Queries - Group By

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals. If you need to get the data again, refer to the official [installation link](https://dev.mysql.com/doc/sakila/en/sakila-installation.html).

The database is structured as follows:
![DB schema](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/database-sakila-schema.png)

### Instructions

1. In the table actor, what last names are not repeated? For example if you would sort the data in the table actor by last_name, you would see that there is Christian Arkoyd, Kirsten Arkoyd, and Debbie Arkoyd. These three actors have the same last name. So we do not want to include this last name in our output. Last name "Astaire" is present only one time with actor "Angelina Astaire", hence we would want this in our output list.

In [ ]:
''' select last_name, count(*)
from actor
group by last_name
having count(*) =1  '''

2. Which last names appear more than once? We would use the same logic as in the previous question but this time we want to include the last names of the actors where the last name was present more than once

In [ ]:
'''select last_name, count(*)
from actor
group by last_name
having count(*) >1 '''

3. Using the rental table, find out how many rentals were processed by each employee.

In [ ]:
''' select staff_id, count(*)
from rental
group by staff_id'''

4. Using the film table, find out how many films were released.

In [ ]:
'''SELECT count(*) as "films_relased" FROM film '''

5. Using the film table, find out how many films there are of each rating.

In [ ]:
'''select rating, count(*)
from film
group by  rating'''

6. What is the mean length of the film for each rating type. Round off the average lengths to two decimal places

In [ ]:
'''select rating, round(avg(length),2)
from film
group by rating'''

7. Which kind of movies (rating) have a mean duration of more than two hours?

In [ ]:
'''
Rating:

select rating, round(avg(length),2)
from film
group by rating
having round(avg(length),2) > 120


Title:
select title, round(avg(length),2)
from film
group by title
having round(avg(length),2) > 120
'''