## Map

In [1]:
import math

In [2]:
def area(r):
    return math.pi * (r**2)

In [3]:
radii = [2, 5, 7.1, 0.3, 10]

The "classic" approach:

In [4]:
areas=[]
for i in radii:
    areas.append(area(i))
print(areas)

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793]

The "pythonic" approach, using map():

In [7]:
c = list(map(area, radii))
print(c)

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793]

## Filter

In [8]:
import statistics

data = [1.5, 9.2, 3.4, 5.1, -9,4]

avg = statistics.mean(data)

The classic approach:

In [9]:
def above_avg(avg, number):
    if number <= avg:
        return False
    else:
        return True

In [10]:
above_avg(avg=avg, number = 4)

True

The "pythonic" approach, using filter():

In [11]:
def above_avg(i):
    return i>avg

list(filter(above_avg, data))

[9.2, 3.4, 5.1, 4]

In [12]:
above_avg(4)

True

## Reduce

In [53]:
from functools import reduce

In [54]:
names = ["Guillem", "Javi", "Mar", "Pol"]

In [69]:
def concatenator(x, y):
    return x + " " + y

In [70]:
reduce(concatenator, names)

'Guillem Javi Mar Pol'

In [71]:
numbers = [1,2,3,4,5]

In [72]:
numbers

[1, 2, 3, 4, 5]

In [73]:
reduce(lambda x, y, : x*y, numbers)

120

In [61]:
s = ""
for e in names:
    s += e + " "
print(s)

Guillem Javi Mar Pol

In [68]:
" ".join(names)

'Guillem Javi Mar Pol'

In [63]:
concatenated=""
for i in names:
    concatenated=concatenated + i + " "
concatenated

'Guillem Javi Mar Pol '